In [12]:
import pandas as pd

In [13]:
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

In [14]:
ha_costs_df.head(10)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067
5,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1013,Butler County,ALABAMA,Rural,All,undefined,49516
6,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1015,Calhoun County,ALABAMA,Urban,All,undefined,46819
7,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1017,Chambers County,ALABAMA,Rural,All,undefined,35022
8,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1019,Cherokee County,ALABAMA,Rural,All,undefined,45298
9,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1021,Chilton County,ALABAMA,Urban,All,undefined,54992

In [15]:
ha_costs_df.tail(2)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [16]:
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 2656 non-null   int64
 1   geography            2656 non-null   object
 2   measure              2656 non-null   object
 3   adjustment           2656 non-null   object
 4   analysis             2656 non-null   object
 5   domain               2656 non-null   object
 6   condition            2656 non-null   object
 7   primary_sex          2656 non-null   object
 8   primary_age          2656 non-null   object
 9   primary_dual         2656 non-null   object
 10  fips                 2656 non-null   int64
 11  county               2656 non-null   object
 12  state                2656 non-null   object
 13  urban                2656 non-null   object
 14  primary_race         2656 non-null   object
 15  primary_denominator  2656 non-null   object
 16  analysis_value       2656 non-null   int64
dtypes: int64(3), object(14)
memory usage: 352.9+ KB

In [18]:
TN_ha_costs_df = ha_costs_df.loc[ha_costs_df['state'] == 'TENNESSEE']

In [19]:
TN_ha_costs_df.shape

(91, 17)

In [21]:
TN_ha_costs_df['county'].unique()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Morgan County',
       'Obion County', 'Overton County', 'Perry County', 'Polk County',
       'Putnam County', 'Rhea County', 'Roane County', 'Robertson County',
       'Rutherford County', 'Scott County', 'Sequatchie County',
       'Sevier County', 'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Warren County', 'Washington County', 'Wayne County',
       'Weakley County', 'White County', 'Williamson County',
       'Wilson County'], dtype=object)

In [39]:
TN_ha_costs_df['county'].nunique()

91

In [24]:
TN_ha_costs_df['county'].value_counts()

Davidson County    1
Bedford County     1
Chester County     1
Hamblen County     1
Clay County        1
                  ..
Haywood County     1
McNairy County     1
Fayette County     1
Warren County      1
Unicoi County      1
Name: county, Length: 91, dtype: int64

In [25]:
TN_ha_costs_df['urban'].value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

In [26]:
cancer_cost_df = pd.read_csv('../data/mmd_cancer_data.csv')

In [27]:
cancer_cost_df.head

<bound method NDFrame.head of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
3160  2017    County  Average total cost  Unsmoothed actual  Base measure
3161  2017    County  Average total cost  Unsmoothed actual  Base measure
3162  2017    County  Average total cost  Unsmoothed actual  Base measure
3163  2017    County  Average total cost  Unsmoothed actual  Base measure
3164  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                                   condition  \
0     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
1     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
2     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
4     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
...                          ...                                         ...
3160  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3161  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3162  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3163  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3164  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung

     primary_sex primary_age     primary_dual   fips               county  \
0            All         All  Dual & non-dual   1001       Autauga County
1            All         All  Dual & non-dual   1003       Baldwin County
2            All         All  Dual & non-dual   1005       Barbour County
3            All         All  Dual & non-dual   1007          Bibb County
4            All         All  Dual & non-dual   1009        Blount County
...          ...         ...              ...    ...                  ...
3160         All         All  Dual & non-dual  72145  Vega Baja Municipio
3161         All         All  Dual & non-dual  72147    Vieques Municipio
3162         All         All  Dual & non-dual  72149   Villalba Municipio
3163         All         All  Dual & non-dual  72151    Yabucoa Municipio
3164         All         All  Dual & non-dual  72153      Yauco Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           19293
1         ALABAMA  Rural          All           undefined           17151
2         ALABAMA  Rural          All           undefined           19469
3         ALABAMA  Urban          All           undefined           17234
4         ALABAMA  Urban          All           undefined           20317
...           ...    ...          ...                 ...             ...
3160  PUERTO RICO  Urban          All           undefined            7364
3161  PUERTO RICO  Rural          All           undefined            9987
3162  PUERTO RICO  Urban          All           undefined           24127
3163  PUERTO RICO  Urban          All           undefined            8008
3164  PUERTO RICO  Urban          All           undefined           11171

[3165 rows x 17 columns]>

In [28]:
cancer_cost_df.tail

<bound method NDFrame.tail of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
3160  2017    County  Average total cost  Unsmoothed actual  Base measure
3161  2017    County  Average total cost  Unsmoothed actual  Base measure
3162  2017    County  Average total cost  Unsmoothed actual  Base measure
3163  2017    County  Average total cost  Unsmoothed actual  Base measure
3164  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                                   condition  \
0     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
1     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
2     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
4     Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
...                          ...                                         ...
3160  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3161  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3162  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3163  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung
3164  Primary chronic conditions  Cancer, Colorectal, Breast, Prostate, Lung

     primary_sex primary_age     primary_dual   fips               county  \
0            All         All  Dual & non-dual   1001       Autauga County
1            All         All  Dual & non-dual   1003       Baldwin County
2            All         All  Dual & non-dual   1005       Barbour County
3            All         All  Dual & non-dual   1007          Bibb County
4            All         All  Dual & non-dual   1009        Blount County
...          ...         ...              ...    ...                  ...
3160         All         All  Dual & non-dual  72145  Vega Baja Municipio
3161         All         All  Dual & non-dual  72147    Vieques Municipio
3162         All         All  Dual & non-dual  72149   Villalba Municipio
3163         All         All  Dual & non-dual  72151    Yabucoa Municipio
3164         All         All  Dual & non-dual  72153      Yauco Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           19293
1         ALABAMA  Rural          All           undefined           17151
2         ALABAMA  Rural          All           undefined           19469
3         ALABAMA  Urban          All           undefined           17234
4         ALABAMA  Urban          All           undefined           20317
...           ...    ...          ...                 ...             ...
3160  PUERTO RICO  Urban          All           undefined            7364
3161  PUERTO RICO  Rural          All           undefined            9987
3162  PUERTO RICO  Urban          All           undefined           24127
3163  PUERTO RICO  Urban          All           undefined            8008
3164  PUERTO RICO  Urban          All           undefined           11171

[3165 rows x 17 columns]>

In [30]:
TN_cancer_cost_df = cancer_cost_df.loc[cancer_cost_df['state'] == 'TENNESSEE']
cancer_cost_df.loc[cancer_cost_df['state'] == 'TENNESSEE']

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2396,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,15454
2397,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,19219
2398,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,21315
2399,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,19250
2400,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,17073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,22658
2487,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,20655
2488,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,18515
2489,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,17527
2490,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,20618

In [31]:
TN_cancer_cost_df.shape

(95, 17)

In [33]:
TN_cancer_cost_df['county'].unique()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Moore County',
       'Morgan County', 'Obion County', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Sequatchie County', 'Sevier County',
       'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County'], dtype=object)

In [36]:
TN_cancer_cost_df['county'].value_counts()

Davidson County      1
Loudon County        1
Hamblen County       1
Clay County          1
Marshall County      1
                    ..
Fayette County       1
Warren County        1
Cheatham County      1
Williamson County    1
Unicoi County        1
Name: county, Length: 95, dtype: int64

In [37]:
TN_cancer_cost_df['county'].unique()

array(['Anderson County', 'Bedford County', 'Benton County',
       'Bledsoe County', 'Blount County', 'Bradley County',
       'Campbell County', 'Cannon County', 'Carroll County',
       'Carter County', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Crockett County', 'Cumberland County', 'Davidson County',
       'Decatur County', 'DeKalb County', 'Dickson County', 'Dyer County',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Gibson County', 'Giles County', 'Grainger County',
       'Greene County', 'Grundy County', 'Hamblen County',
       'Hamilton County', 'Hancock County', 'Hardeman County',
       'Hardin County', 'Hawkins County', 'Haywood County',
       'Henderson County', 'Henry County', 'Hickman County',
       'Houston County', 'Humphreys County', 'Jackson County',
       'Jefferson County', 'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Loudon County', 'McMinn County',
       'McNairy County', 'Macon County', 'Madison County',
       'Marion County', 'Marshall County', 'Maury County', 'Meigs County',
       'Monroe County', 'Montgomery County', 'Moore County',
       'Morgan County', 'Obion County', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Sequatchie County', 'Sevier County',
       'Shelby County', 'Smith County', 'Stewart County',
       'Sullivan County', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County'], dtype=object)

In [38]:
TN_cancer_cost_df['county'].nunique()

95

In [42]:
TN_cancer_cost_df.loc[~TN_cancer_cost_df['county'].isin(TN_ha_costs_df['county'])]['county']

2429      Hancock County
2459        Moore County
2464      Pickett County
2483    Van Buren County
Name: county, dtype: object

In [43]:
income_df = pd.read_csv('../data/irs_county_2016.csv')

In [45]:
income_df.head(2)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152

In [52]:
TN_income_df = income_df.loc[income_df['STATE'] == 'TN']

In [53]:
TN_income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
19752,47,TN,0,Tennessee,1,39580,22400,14440,980,25390,...,6760,17669,200,287,0,0,3970,7167,16170,59567
19753,47,TN,0,Tennessee,2,439770,345410,39920,49300,188490,...,109250,62045,0,0,0,0,37380,18477,366150,366510
19754,47,TN,0,Tennessee,3,717430,398720,115040,189290,341750,...,449870,461060,0,0,0,0,63270,70761,635450,1870568
19755,47,TN,0,Tennessee,4,759340,355970,217710,159890,347430,...,629080,1669328,110,100,0,0,104290,176690,646420,1783890
19756,47,TN,0,Tennessee,5,396810,128390,215890,42240,198820,...,382580,2135577,30,29,0,0,87440,220372,302390,849648

In [54]:
TN_income_df.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

In [55]:
TN_income_df.

(768, 148)

In [ ]:
TN_income_df.shape

In [66]:
TN_income_df_editedcolumns = TN_income_df[['STATE','COUNTYNAME','agi_stub','N1','mars1','MARS2','MARS4','N2','NUMDEP','ELDERLY','A00100','N02650', 'A02650','N02300','A02300']]

In [63]:
TN_income_df.loc[ : , ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]
TN_income_df = income_df.loc[income_df['STATE'] == 'TN']

In [ ]:
# the result of the following command is the same as the above command.

In [ ]:
income_tn_deletedcolumns = income_tn[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1',
'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650',
'N02300', 'A02300']]

In [67]:
TN_income_df_editedcolumns.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [68]:
TN_income_df_editedcolumns.head(5)

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894